# Database
DATABASE_URL=

# Authentication
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Email Service
RESEND_API_KEY=

# Cloudflare & Workers
CLOUDFLARE_AI_GATEWAY_API_KEY=""
CLOUDFLARE_AI_GATEWAY_ENDPOINT="https://cloudflare-ai-gateway.your-subdomain.workers.dev/"